# Protecting your plugins from being committed to the repository
*
!.gitignore
# Allow the default plugins to be committed
!ing_pdf_de_importer/
!ing_pdf_de_importer/**
!ing_csv_de_importer/
!ing_csv_de_importer/**
!example_importer/
!example_importer/**
!example_classifier/
!example_classifier/**
!json_importer/
!json_importer/**
# Ignore venvs
.venv/